
@{
    ViewData["Title"] = "thanhtoan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Thành Công</h1>
<a href="@Url.Action("Index","home")" >Về Trang chủ </a>

<script src="~/js/jquery.min.js"></script>
<script src="~/js/popper.min.js"></script>
<script src="~/js/bootstrap.bundle.min.js"></script>
<script src="~/js/jquery-3.0.0.min.js"></script>
<!-- sidebar -->
<script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="~/js/custom.js"></script>
